<div class="card bg-secondary">
  <div class="card-body">
    <h4 class="card-title"><%= post.title %></h4>
    <p class="text-truncate text-justify"><%= post.text %></p>
    <div class="d-flex justify-content-end gap-1 align-items-end">
      <h6 class ="m-0" >Comments: <%= post.comments_counter %>,</h6>
      <h6 class ="m-0" >Likes: <%= post.likes_counter %></h6>
    </div>
  </div>
</div>
