<div class="row bg-info p-3">
<div class="col-sm-3 text-white">
  <img src="<%= user.photo%>"
  class ="rounded" height="90" alt="Not found"/>
</div>
 <div class="col-sm-9 border row">
   <div class = " col-sm-9"><h3><%= user.name %><h3></div>
    <div class = " col pull-right text-right "><h6 class ="pt-5 pl-4" > Number of posts: <%= user.posts_counter%></h6></div>
 </div>
</div>
